body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #e6e6e638;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: #e6e6e638;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {

  background-image: url(assets/food-back.jpeg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
}

#intro .carousel-content {
  text-align: left;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: 700;
}

#intro h6 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 13px;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
  }
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (min-width: 1024px) {
  #intro p {
    width: 60%;
  }
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: rgb(20, 194, 20);
}

#intro .btn-get-started:hover {
  background: #fff;
  background: rgb(20, 194, 20);
}


div.rightSide {
  position: fixed;
  right: 0;
  width: 50px;
  height: 15rem;
  border: 1px solid gray;
  z-index: 10;
  top: 12rem;
  background-color: rgb(218, 218, 218);
  border-radius: 8px;
} 

div.iconRight {
  border: 0.5px solid rgb(218, 218, 218);
  background-color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 4px;
  cursor: pointer;
} 

div.green {
  background-color: green;
}

#intro .white-text {
  color: #fff;
}

div.text-header {
  width: 45rem;
}

#foot .gray-text {
  color: rgb(169, 169, 169);
}

.blue-text {
  font-family: 'Lato', sans-serif;
  color: #23276e;
}

.chart-box {
  background-color: #332728;
}

#foot {
  /* display: table; */
  width: 100%;
  height: 100%;
  background: #fff;
}

.text-header-circle {
  text-align: left;
  padding-left: 20px;
  color: #ff7583;
  font-size: 32px;
}

.text-circle {
  color: #ff7583;
  font-size: 22px;
}

.bar-progress {
  height: 30px;
  background-color: #ff7583 !important;
}

.line-progress {
  height: 30px;
  background-color: #563f44 !important;
}

.text-line-left {
  text-align: left;
  color: #e97b86c1 !important;
  font-size: 16px;
  line-height: 0%;
}

.text-line-right {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #73646a !important;
}

a#collasible-nav-dropdown {
  color: #5261b8;
}

div.absolute {
  position: absolute;
  width: 100%;
  bottom: -1px;
  z-index: 1;
  /* border: 3px solid #8AC007; */
} 

#foot h6 {
  margin-bottom: 30px;
  font-size: 13px;
}

#foot h2 {
  /* color: #fff; */
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}


.text-green {
  color: rgb(0, 85, 0);
}

.width-35-rem {
  width: 35rem;
}

a.text-menu-sub {
  font-family: 'Lato', sans-serif;
  color: #414587;
  font-size: 12px;
}

.text-menu-head {
  font-family: 'Lato', sans-serif;
  color: #3d8cff;
  font-size: 14px;
}

.singleLine {
  border: 1px solid #828282;
  overflow: hidden;
  white-space: nowrap;
  background: #dad8d86b;
}

.singleLineShadow {
  overflow: hidden;
  white-space: nowrap;
  height: 7px;
  background: #b1b1b1;
}

@media (max-width: 500px) { 
  div.margin-3 {
    margin-left: 15%;
  }
 }

@media (max-width: 600px) { 
  div.margin-3 {
    margin-left: 20%;
  }
  div.responsive {
    width: 100%;
    margin-left: 10px;
  }
 }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  div.margin-3 {
    margin-left: 10%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  div.text-header-foot {
    width: 50rem;
  }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  div.text-header-foot {
    width: 50rem;
  }
 }